body {
  overflow-x: auto;
}

.App {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  height: 100%;
}

.App-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.selector {
  margin-left: 10px;
}

#score-text {
  background: #3774ff;
}

.slider-space {
  padding: 10px;
}

.example-thumb {
  background-color: #3774ff;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  /* height: 100vh; */
  margin: auto;
  padding: 10px;
  height: 20px;
}

.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-0 {
  background: #83a9ff;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}

.horizontal-slider .example-thumb {
  top: 17px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

#description {
  width: 70%;
  justify-content: center;
  display: inline-block;
  font-size: larger;
  font-style: italic;
  position: relative;
  padding: 10px;
}

#description::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0.3;
  background-image: url("images/background1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
}

#description-text {
  position: relative;
}

#startscreen {
  padding: 20px;
}

#begin-button-div {
  padding-top: 20px;
}

.button {
  display: inline-flex;
  padding: 0;
  border: none;
  outline: none;
  background: #3774ff;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background: #1656ed;
}

.button:active {
  background: #052e8e;
}

.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}

.QA {
  font-size: small;
  display: inline-table;
  padding-bottom: 50px;
  text-align: justify;
  vertical-align: top;
}



.itm {
  padding-left: 30px;
  padding-right: 10px;
}

.right-itm {
  text-align: right;
  align-items: right;
}

.text-slider-pair {
  justify-content: flex-end;
}

#homepage {
  width: 100%;
  height: 800px;
}

.Home-Page {
  height: 800px;
}

#results {
  height: 800px;
}

#chart-container {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.radar-canvas1,
#radar-canvas,
#radar-canvas2 {
  background-color: rgb(181, 178, 178);
  display: inline-block;
  display: hidden;
  position: absolute;
  padding-bottom: 25px;
  height: 400px;
}

.custom-canvas {
  /* canvas for custom radar in investorview.jsx */
  background-color: rgb(181, 178, 178);
}

.two-sliders {
  width: 100%;
  float: left;
}


.container {
  padding: 20px;
}

#home-button-div {
  position: absolute;
  left: 10px;
  top: 10px;
}

table,
th,
td {
  text-align: center;
  padding: 3px;
}

tbody>tr>:nth-child(1n) {
  border-left: solid 2px skyblue;
  border-right: solid 2px skyblue;
}

table {
  border-collapse: collapse;
  border-spacing: 2px 5px;
  font-size: xx-small;
  table-layout: initial;
}

table td:nth-child(1),
table th:nth-child(1) {
  display: none;
}

#sliders {
  padding: 10px;
  border-spacing: 10px;
  height: 100px;
  width: 50px;
  display: inline-table;
}

.custom-input {
  vertical-align: middle;
}

/*

keep last
*/

.hidden {
  display: none;
}